/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575px) {

    .navbar-nav {
        margin-left: auto!important;
        text-align: right;
        margin-top: 20px;
        padding-right: 20px;
    }

    .banner_heading {
        padding-bottom: 30px;
    }
    .banner_heading h2 {
        font-size: 34px;
        padding: 0 2%;
        padding-top: 100px;
    }
    .banner_heading h2::after {
        left: 32%;
    }
    .banner_content p {
        font-size: 18px;
        padding: 0 8%;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    /* service */
    .common_heading h2 {
        font-size: 22px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .common_heading h2::after {
        left: 32%;
    }
    .service_icon {
        padding-top: 25px;
    }
    .service_content h4 {
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .service_content p {
        font-size: 12px;
        padding-bottom: 20px;
    }

    /* expertise */
    .expertise_main {
        padding-left: 0;
    }
    .exper_content h2 {
        font-size: 22px;
        padding-top: 40px;
    }
    .exper_content p {
        font-size: 12px;
        padding-top: 10px;
    }
    .exper_serv {
        padding-top: 20px;
    }
    .icon_main i {
        font-size: 24px;
    }
    .icon_desc h4 {
        padding-left: 42px;
    }
    .icon_desc p {
        font-size: 12px;
        padding-right: 4%;
        padding-left: 42px;
    }
    .exper_button {
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center;
    }
    .exper_button a {
        font-size: 10px;
        padding: 10px 15px;
    }
    .exper_img img {
        height: 350px;
    }

    /* portfolio */
    .porto_main {
        padding-bottom: 40px;
        background-size: contain;
    }

    /* about */
    .about_main {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .about_img {
        padding-left: 5px;
    }
    .about_content h4 {
        text-align: center;
        font-size: 12px;
    }
    .about_content p.overflow-wrap {
        padding: 0;
        padding-right: 5%;
        font-size: 12px;
        text-align: center;
    }
    .img_after::after {
        left: 50%;
        height: 62px;
    }
    /* middle column */
    .middle_column .about_img {
        padding-left: 0;
        padding-right: 0px;
    }
    .middle_column .img_after::after {
        left: 50%;
        height: 62px;
    }
    .middle_column .about_content {
        text-align: center;
        padding-top: 70px;
    }
    .middle_column .about_content p.overflow-wrap {
        padding: 0;
        text-align: center;
    }
    /* team */
    .team_container {
        align-items: center;
        flex-direction: column;
    }
    .team_main {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .team_desc p {
        padding: 0 5%;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    /* footer */
    .footer_content h2 {
        font-size: 24px;
        padding-top: 60px;
    }
    .footer_content p {
        font-size: 12px;
        padding-top: 20px;
    }
    .footer_icon p {
        font-size: 14px;
        margin-left: 60px;
    }
    .footer_icon i {
        font-size: 28px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .footer_form {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer_form .footer-form-control {
        height: 50px;
        width: 100%;
        border-radius: 3px;
    }
    .footer-form-control::placeholder {
        font-size: 14px;
    }
    .footer-textarea-control {
        width: 100%;
        border-radius: 3px;
    }
    .footer-textarea-control::placeholder {
        font-size: 14px;
    }
    .submit-btn {
        height: auto;
        width: auto;
        text-align: center;
        border-radius: 40px;
        font-size: 10px;
        padding: 10px 15px;
        margin: 0 auto;
    }
    .footer_copyright p {
        font-size: 10px;
    }

}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-nav {
        margin-left: auto!important;
        text-align: right;
        margin-top: 20px;
        padding-right: 20px;
    }

    .banner_heading {
        padding-bottom: 30px;
    }
    .banner_heading h2 {
        font-size: 36px;
        padding: 0 6%;
        padding-top: 100px;
    }
    .banner_heading h2::after {
        left: 38%;
    }
    .banner_content p {
        font-size: 20px;
        padding: 0 6%;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    /* service */
    .common_heading h2 {
        font-size: 24px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .common_heading h2::after {
        left: 38%;
    }
    .service_icon {
        padding-top: 25px;
    }
    .service_content h4 {
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .service_content p {
        font-size: 12px;
        padding: 0 15%;
        padding-bottom: 20px;
    }

    /* expertise */
    .expertise_main {
        padding-left: 0;
    }
    .exper_content h2 {
        font-size: 24px;
        padding-top: 40px;
    }
    .exper_content p {
        font-size: 14px;
        padding-top: 10px;
    }
    .exper_serv {
        padding-top: 20px;
    }
    .icon_main i {
        font-size: 24px;
    }
    .icon_desc h4 {
        padding-left: 42px;
    }
    .icon_desc p {
        font-size: 14px;
        padding-left: 42px;
    }
    .exper_button {
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center;
    }
    .exper_button a {
        font-size: 14px;
        padding: 15px 20px;
    }
    .exper_img img {
        height: 500px;
    }

    /* portfolio */
    .porto_main {
        padding-bottom: 40px;
        background-size: contain;
    }

    /* about */
    .about_main {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .about_img {
        padding-left: 5px;
    }
    .about_content h4 {
        text-align: center;
        font-size: 14px;
    }
    .about_content p.overflow-wrap {
        padding: 0;
        padding-right: 5%;
        font-size: 12px;
        text-align: center;
    }
    .img_after::after {
        left: 50%;
        height: 62px;
    }
    /* middle column */
    .middle_column .about_img {
        padding-left: 0;
        padding-right: 0px;
    }
    .middle_column .img_after::after {
        left: 50%;
        height: 62px;
    }
    .middle_column .about_content {
        text-align: center;
        padding-top: 70px;
    }
    .middle_column .about_content p.overflow-wrap {
        padding: 0;
        text-align: center;
    }
    /* team */
    .team_container {
        align-items: center;
        flex-direction: column;
    }
    .team_main {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .team_desc p {
        padding: 0 5%;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    /* footer */
    .footer_content h2 {
        font-size: 24px;
        padding-top: 60px;
    }
    .footer_content p {
        font-size: 14px;
        padding-top: 20px;
    }
    .footer_icon p {
        font-size: 14px;
        margin-left: 60px;
    }
    .footer_icon i {
        font-size: 28px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .footer_form {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer_form .footer-form-control {
        height: 50px;
        width: 100%;
        border-radius: 3px;
    }
    .footer-textarea-control {
        width: 100%;
        border-radius: 3px;
    }
    .submit-btn {
        height: auto;
        width: auto;
        text-align: center;
        border-radius: 40px;
        font-size: 13px;
        padding: 12px 18px;
        margin: 0 auto;
    }
    .footer_copyright p {
        font-size: 14px;
    }

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-nav {
        margin-left: auto!important;
        text-align: right;
        margin-top: 20px;
        padding-right: 20px;
    }

    .banner_heading {
        padding-bottom: 30px;
    }
    .banner_heading h2 {
        font-size: 40px;
        padding: 0 14%;
        padding-top: 170px;
    }
    .banner_heading h2::after {
        left: 42%;
    }
    .banner_content p {
        font-size: 22px;
        padding: 0 16%;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    /* service */
    .common_heading h2 {
        font-size: 26px;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .common_heading h2::after {
        left: 42%;
    }
    .service_icon {
        padding-top: 40px;
    }
    .service_content h4 {
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .service_content p {
        font-size: 14px;
        padding: 0;
        padding-bottom: 40px;
    }

    /* expertise */
    .expertise_main {
        padding-left: 0;
    }
    .exper_content h2 {
        font-size: 24px;
        padding-top: 40px;
    }
    .exper_content p {
        font-size: 14px;
        padding-top: 10px;
    }
    .exper_serv {
        padding-top: 20px;
    }
    .icon_main i {
        font-size: 24px;
    }
    .icon_desc h4 {
        padding-left: 36px;
    }
    .icon_desc p {
        font-size: 14px;
        padding-left: 36px;
        padding-right: 5%;
    }
    .exper_button {
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center;
    }
    .exper_button a {
        font-size: 14px;
        padding: 15px 20px;
    }
    .exper_img img {
        margin-top: 50%;
        height: auto;
    }

    /* portfolio */
    .porto_main {
        padding-bottom: 40px;
        background-size: contain;
    }
    .porto_img img {
        margin-top: 70%;
        height: auto;
    }

    /* about */
    .about_main {
        padding-top: 60px;
    }
    .about_img {
        padding-left: 6px;
    }
    .about_content h4 {
        font-size: 14px;
    }
    .about_content p.overflow-wrap {
        padding: 0;
        padding-right: 2%;
        font-size: 12px;
    }
    .img_after::after {
        left: 50%;
        height: 62px;
    }
    /* middle column */
    .middle_column .about_img {
        padding-left: 28px;
        padding-right: 6px;
    }
    .middle_column .img_after::after {
        left: 56%;
        height: 62px;
    }
    .middle_column .img_after.medium_fix::after {
        top: 90%;
        left: 56%;
        height: 80px;
    }
    /* team */
    .team_container {
        align-items: center;
    }
    .team_main {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .team_desc p {
        padding: 0 5%;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    /* footer */
    .footer_content h2 {
        font-size: 24px;
        padding-top: 60px;
    }
    .footer_content p {
        font-size: 14px;
        padding-top: 20px;
    }
    .footer_icon i {
        font-size: 22px;
        padding-top: 20px;
        padding-left: 0px;
    }
    .footer_icon p {
        font-size: 14px;
    }

    .footer_form {
        padding-top: 60px;
        padding-left: 30px;
        padding-bottom: 60px;
    }
    .footer_form .footer-form-control {
        height: 50px;
        width: 100%;
        border-radius: 3px;
    }
    .footer-textarea-control {
        width: 100%;
        border-radius: 3px;
    }
    .submit-btn {
        height: auto;
        width: auto;
        text-align: center;
        border-radius: 40px;
        font-size: 13px;
        padding: 12px 18px;
        margin: 0 auto;
    }
    .footer_copyright p {
        font-size: 14px;
    }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

    .navbar-nav .nav-item {
        padding-left: 30px;
    }

    .banner_content p {
        padding: 0 24%;
        padding-top: 40px;
        padding-bottom: 120px;
    }

    /* expertise */
    .expertise_main {
        padding-left: 6%;
    }
    .exper_img img {
        margin-top: 50%;
        height: 100%;
    }

     /* about */
    .about_content p.overflow-wrap {
        padding: 0;
        padding-right: 2%;
        font-size: 12px;
    }
    .img_after::after {
        left: 60%;
        height: 62px;
    }
    /* middle column */
    .middle_column {
        margin-right: 20%;
    }
    .middle_column .img_after::after {
        left: 56%;
        height: 62px;
    }
    .middle_column .img_after.medium_fix::after {
        top: 90%;
        left: 56%;
        height: 80px;
    }

    /* team */
    .team_desc p {
        padding: 0 100px;
        padding-bottom: 80px;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }